FLASK_DEBUG=true
FLASK_PORT=5001
DATABASE_NAME=hackathon_db
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_CERT_PATH=./ca-certifacate.crt
DATABASE_USER=postgres
DATABASE_SSL_MODE=disable # use require if your psql provider requires sslverify
DATABASE_PASSWORD=postgres
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
APP_URL=http://127.0.0.1:5001